$primary-color: #7159c1;
$secondary-color: #ffffff;
$primary-text: #ffffff;
$secondary-text: #000000;

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Source Sans Pro", sans-serif;
}

@mixin isResponsive($is) {
    @if $is == isRespo {
        width: 90%;
        max-width: 980px;
        margin: auto;
    }
}
