.cards {
    @include isResponsive(isRespo);
    display: flex;
    flex-wrap: wrap;

    .card {
        background-color: $primary-color;
        width: 310px;
        height: 320px;
        margin: 0 1.6rem 1.6rem 0;
        cursor: pointer;

        &:hover {
            padding: 1rem;
            transition: padding 2s, ease 2s;
        }

        img {
            width: 100%;
        }

        .content {
            margin: 1rem;
            color: $primary-text;

            p {
                font-size: 1.6rem;
            }

            .info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 5rem 2rem 0 2rem;

                .p-free {
                    padding: 0.5rem 1.2rem;
                    border-radius: 5rem;
                    background-color: darken($primary-color, 3);
                }
            }
        }
    }
}
