header {
    background-color: $primary-color;

    .container {
        @include isResponsive(isRespo);
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 15rem;
            padding: 1.5rem 0;
        }

        ul {
            display: flex;

            li {
                padding: 2.8rem;

                &:hover {
                    background-color: lighten($primary-color, 10);

                    transition: background 0.3s ease 0.3s;
                }

                a {
                    color: $primary-text;
                    font-size: 1.2rem;
                    font-weight: lighter;
                }
            }
        }
    }
}
